@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body, #wrapper {
  width:100%;
  height: 100%;
}

body {
  background-color: #1e181c;
  text-align: center;
  color: rgba(211, 211, 211, 0.83);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
}

#wrapper {
  -moz-box-shadow:    inset 0px 0px 20px 15px #14141f;
  -webkit-box-shadow: inset 0px 0px 20px 15px #14141f;
  box-shadow:         inset 0px 0px 20px 15px #14141f;
  overflow: auto;
}

h1 {
  padding: 2px;
  margin: 2% 0% 3% 0%;
  color: #9575b4;
  font-size: 2.7em;
}

p {
  text-align: center;
  font-size: 1.4em;
  color: #888;
}

a {
  text-decoration: none;
  color: #d3d3d3;
}

a:hover {
  color: #59596b;
}

.logo {
  max-width: 20%;
  margin: .7%;
}

#main {
  /*clear: both;*/
  /*display: inline;*/
  display: flex;
}

#narrow {
  width: 45%;
}
#wide {
  flex: 1;
  /* Grow to rest of container */
}

#links {
  position: relative;
  float: left;
  margin: 3%;
  margin-right: 20%;
}

#profilepic {
  position: relative;
  float: right;
  border-radius: 6px;
  opacity: .86;
  margin: 3%;
  margin-right: 15%;
  max-width: 25%;
  -moz-box-shadow:    0px 0px 9px 6px #1a1a1a;
  -webkit-box-shadow: 0px 0px 9px 6px #1a1a1a;
  box-shadow:         0px 0px 9px 6px #1a1a1a;
}

/***********************************/
/* ------- media queries --------- */
/***********************************/

/******* styles for minimum width 650px ***********/
/*@media (min-width: 650px) {
}*/

/******* 1100px minimum width ***********/

@media (min-width: 1100px) {
  .logo {
    max-width: 7%;
    margin: 1.5%;
  }

  #links{
    /*float: right;*/
    margin: 1% 2% 0% 37%;
  }
  #profilepic {
    /*float: left;*/
    margin-right: 35%;
  }


}
