@import url(https://fonts.googleapis.com/css?family=Montserrat);

@-ms-viewport{
  width: device-width;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, #wrapper {
  width:100%;
  height: 100%;
}

body {
  background-color: rgba(30, 24, 28, 0.93);
  text-align: center;
  color: #a46694;
  font-family: 'Montserrat', sans-serif;
  /*font-size: 1.7em;*/
}

#wrapper {
  -moz-box-shadow:    inset 0px 0px 20px 15px #14141f;
  -webkit-box-shadow: inset 0px 0px 20px 15px #14141f;
  box-shadow:         inset 0px 0px 20px 15px #14141f;
  overflow: auto;
}

h1 {
  padding: 2px;
  margin: 4% 0% 3% 0%;
  color: #958b9f;
  font-size: 2.4em;
  text-align: center;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.18);
  line-height: 1.2;
  font-weight: 300;
}

p {
  text-align: center;
  font-size: 1.4em;
  color: #888;
}

a {
  text-decoration: none;
  color: #958b9f;
}

a:hover {
  color: #59596b;
}

.main {
  padding-top: 2%;
}

.flex {
  display: flex;
}

/*============== Index Page =================*/
/*==== non-logo links ==== */
#nonLogoContainer {
  margin-bottom: 2%;
  flex-direction: row;
}

.nonLogoLinks {
  margin: 1%;
  display: inline;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.18);
  font-size: 3em;
  /*font-size: 1.5em;*/
  flex: 1;
  justify-content: space-between;
}

/* ===== logo links ====*/
.logo {
  max-width: 17%;
  margin: .7%;
}

#narrow {
  flex: 0.8;
}

#wide {
  /*justify-content: space-around;*/
  flex: 1.2;
  /* Grow to rest of container */
}

#links {
  position: relative;
  display: flex;
  float: left;
  margin: 3%;
  margin-right: 20%;
}

#profilepic {
  position: relative;
  float: right;
  border-radius: 6px;
  opacity: .86;
  margin: 3% 20% 3% 3%;
  max-width: 40%;
  -moz-box-shadow:    0px 0px 9px 6px #1a1a1a;
  -webkit-box-shadow: 0px 0px 9px 6px #1a1a1a;
  box-shadow:         0px 0px 9px 6px #1a1a1a;
}

/*=============  Projects Page ===============*/

#header {
  /*display: inline;*/
  padding: 1%;
}

#home {
  font-size: 1.6em;
  padding: .5%;
  max-width: 6%;
  margin: 1%;
  float: left;
}

#heading {
  height: 10%;
  width: 30%;
  margin: 0 auto;
}

.projectLinksContainer{
  /*position: relative;*/
  clear: left;
  flex-direction: row;
  justify-content: space-around;
  /*flex: 1;*/
  max-width: 97%;
  /*margin: 1%*/
}

.projectLinks {
  font-size: 1.4em;
  display: inline;
  flex: 1;
  justify-content: space-between;
  margin: 1.5%;
  /*flex-shrink: 0.5;*/
  /*font-size: 1.3em;*/
}

/***********************************/
/* ------- media queries --------- */
/***********************************/

/******* styles for minimum width 650px ***********/
/*@media (min-width: 650px) {
}*/

/******* 1100px minimum width ***********/

@media (min-width: 1100px) {
  .logo {
    max-width: 8%;
    margin: 1.5%;
  }

  h1 {
    font-size: 3.5em;
  }

  .nonLogoLinks {
    /*margin: 1%;*/
    /*display: inline;*/
    /*font-size: 3em;*/
    font-size: 3vw;
  }

  #links{
    margin: 1% 2% 0% 37%;
  }
  #profilepic {
    margin-right: 35%;
  }

  .projectLinks {
    font-size: 1.8em;
    /*display: inline;*/
    /*margin: 1.5%;*/
    /*flex: 1;*/
    /*flex-shrink: 0.5;*/
    /*justify-content: space-between;*/
    /*font-size: 1.3em;*/
  }

}
