html, body, #wrapper {
  width:100%;
  height: 100%;
}

body {
  background-color: #1e181c;
  text-align: center;
  color: #d3d3d3;
  font-size: 1.7em;
}

#wrapper {
  -moz-box-shadow:    inset 0px 0px 20px 15px #14141f;
  -webkit-box-shadow: inset 0px 0px 20px 15px #14141f;
  box-shadow:         inset 0px 0px 20px 15px #14141f;
  overflow: auto;
}

h1 {
  padding: 2px;
  margin: 2% 0% 3% 0%;
  color: #9575b4;
  font-size: 2.7em;
}

p {
  text-align: center;
  font-size: 1.4em;
  color: #888;
}

a {
  text-decoration: none;
  color: #d3d3d3;
}

a:hover {
  color: #59596b;
}

.logo {
  max-width: 10%;
  /*margin: .7%;*/
}

#main {
  /*clear: both;*/
  /*display: inline;*/
  display: flex;
}

#narrow {
  width: 45%;
  /*background: lightblue;*/
  /* Just so it's visible */
}
#wide {
  flex: 1;
  /* Grow to rest of container */
  /*background: lightgreen;*/
  /* Just so it's visible */
}

#links {
  position: relative;
  /*float: left;*/
  margin: 1% 2% 0% 20%;
}

/*
#picDiv {
  position: relative;
}
*/

#profilepic {
  position: relative;
  float: right;
  border-radius: 6px;
  opacity: .86;
  margin-right: 4%;
  max-width: 25%;
  -moz-box-shadow:    0px 0px 9px 6px #1a1a1a;
  -webkit-box-shadow: 0px 0px 9px 6px #1a1a1a;
  box-shadow:         0px 0px 9px 6px #1a1a1a;
}

/***********************************/
/* ------- media queries --------- */
/***********************************/

/******* styles for minimum width 650px ***********/

/*@media (min-width: 650px) {

}*/

/******* styles for minimum width 1100px ***********/

@media (min-width: 1100px) {
  .logo {
    max-width: 12%;
    margin: .2%;
  }

  #links{
    margin: 1% 2% 0% 37%;
  }

}
